{% extends 'base.html.twig' %}

{% block title %}Magazines !{% endblock %}

{% block javascripts %}
    {# Récupère le contenu de block "javascripts" de la base.html.twig pour éviter que son contenu ne soit écrasé par celui-ci #}
    {{ parent() }}
    <script src="{{ asset('js/deleteMagazine.js') }}" defer></script>
{% endblock %}

{% block body %}

    <div class="d-flex align-items-center justify-content-between pb-5">
        <div>
            <h1 class="display-5 m-0">Magazines</h1>
            <p class="lead">Liste de tous les magazines</p>
        </div>
        <a href="{{ path('new_magazine') }}" title="Nouveau magazine" class="btn btn-success">
            Nouveau magazine
        </a>
    </div>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr class="table-warning">
                <th>Titre du magazine</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for magazine in magazines %}
                <tr>
                    <td class="py-3">{{ magazine.name }}</td>
                    <td class="py-3">
                        <a href="{{ path('details_magazine', { id: magazine.id }) }}" class="btn btn-outline-warning btn-sm">
                            Voir plus de détails...
                        </a>

                        <a href="{{ path('edit_magazine', { id: magazine.id }) }}" class="btn btn-sm btn-outline-secondary">Editer</a>

                        {# Bouton de suppression gérer en JS grâce à la classe CSS "btn-delete" #}
                        <a href="{{ path('magazine_delete', { id: magazine.id }) }}" class="btn btn-sm btn-outline-danger btn-delete" data-token="{{ csrf_token('delete-magazine-'~ magazine.id) }}">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Modal Bootstrap de confirmation de suppression #}
    <div class="modal fade" id="confirmDelete" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation de suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cet article ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Non</button>
                    <form action="" method="post" class="d-inline btn-delete-modal">
                        <input type="hidden" name="token" class="input-token-csrf" value="">
                        <button class="btn btn-danger">Oui, je supprime</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
